<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <system.webServer>
         <handlers>
         <remove name="httpplatformhandler" />
          <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
    <httpPlatform stdoutLogEnabled="false" stdoutLogFile="output.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\HolidaysApi.Server.exe" arguments="%HTTP_PLATFORM_PORT%">
    </httpPlatform>
  </system.webServer>
</configuration>
